.container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.logo {
  padding: 8px 0;
}

.home-navigator {
  display: flex;
}

.home-navigator .nav-link {
  text-decoration: none;
  color: var(--g);
  font-family: var(--h);
  font-weight: 600;
  font-size: 16px;
  padding: 5px 10px;
}

.home-navigator .nav-link:hover {
  color: var(--f);
}

.active {
  background-color: var(--f-dull);
  color: var(--f) !important;
  border-radius: 6px;
}
