.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
}

.logo {
  padding: 8px 0;
}

.home-navigator {
  display: flex;
}

.home-navigator .nav-link {
  text-decoration: none;
  color: var(--g);
  font-family: var(--h);
  font-weight: 600;
  font-size: 16px;
  padding: 5px 10px;
  width: fit-content;
}

.home-navigator .nav-link:hover {
  color: var(--f);
}

.active {
  background-color: var(--f-dull);
  color: var(--f) !important;
  border-radius: 6px;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin: 3rem 0;
  }

  .home-navigator {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }

  .logo {
    padding: 1rem 0;
  }
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8rem auto;
    padding: 0;
  }

  .navigator-container {
    width: 150px;
  }
}
